<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Add your expenses 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <h3>How much you spend?</h3>
  <form>
    <div class="container">
      <p>Record your expense.</p>
      <hr>
  
      <label for="number"><b>Spending</b></label>
      <input type="text" placeholder="Enter the  amount" name="number" required>
      <ion-item>
        <ion-label>category</ion-label>
        <ion-select multiple="true" cancelText="Clear" okText="Okay!">
          <ion-select-option value="Grocery">Grocery</ion-select-option>
          <ion-select-option value="Education">Education</ion-select-option>
          <ion-select-option value="Food">Food</ion-select-option>
          <ion-select-option value="Drinks">Drinks</ion-select-option>
          <ion-select-option value="Health">Health</ion-select-option>
          <ion-select-option value="Tips">Tips</ion-select-option>
          <ion-select-option value="Cloths">Green Peppers</ion-select-option>
          <ion-select-option value="Fun">Fun</ion-select-option>
          <ion-select-option value="Personal">Personal</ion-select-option>
          <ion-select-option value="Merchandise">Merchandise</ion-select-option>
          <ion-select-option value="Pets">Pets</ion-select-option>
          <ion-select-option value="Pets">Pets</ion-select-option>
          <ion-select-option value="Transportation">Transportation</ion-select-option>
          <ion-select-option value="Fuel">Education</ion-select-option>
          <ion-select-option value="Others">Others</ion-select-option>
        </ion-select>
      </ion-item>
  
      <label for="Notes"><b>Notes</b></label>
      <input type="text" placeholder="Any aditional notes here" name="notes" >
  
     
      <hr>
      <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
  
      <button type="submit" class="registerbtn">Register</button>
    </div>
    
    <div class="container signin">
      <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div>
  </form>
  

  
</ion-content>
